.mark-input {
  cursor: pointer;
  transition: 0.2s all linear;
}

.mark-div {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.mark-input:hover {
  background: rgba(0, 0, 0, 0.2);
}

.control-mark {
  background-color: red;
  color: #fff;
}
.term-mark {
  background-color: yellow;
}
.year-mark {
  background-color: orange;
}
.self-mark {
  background-color: dodgerblue;
  color: #fff;
}
.apsent-mark {
  background-color: lightgray;
  color: #fff;
}

.date-picker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
