<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">School Journal</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/roles">Roles component</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
