<section class="full-schedule">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <h1>Полное расписание</h1>
      <div class="scroll-wrapper">
        <table class="table table-bordered schedule-table">
          <thead>
          <tr>
            <th class="text-center"></th>
            <th colspan="8" class="text-center">Пн</th>
            <th colspan="8" class="text-center">Вт</th>
            <th colspan="8" class="text-center">Ср</th>
            <th colspan="8" class="text-center">Чт</th>
            <th colspan="8" class="text-center">Пт</th>
            <th colspan="8" class="text-center">Сб</th>
          </tr>
          <tr>
            <th class="text-center">Учитель</th>
            <th class="lesson-time" *ngFor="let time of times">{{time}}</th>
            <th class="lesson-time" *ngFor="let time of times">{{time}}</th>
            <th class="lesson-time" *ngFor="let time of times">{{time}}</th>
            <th class="lesson-time" *ngFor="let time of times">{{time}}</th>
            <th class="lesson-time" *ngFor="let time of times">{{time}}</th>
            <th class="lesson-time" *ngFor="let time of times">{{time}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of teachers">
            <td>{{teachersService.getTeacherFullName(teacher)}}</td>
            <td *ngFor="let dayTime of times | dayTimePipe" [class.htooltip]="!!getSubjectForTeacherAndDayAndTime(teacher, dayTime)"
                (contextmenu)="openContextMenuForEdit($event, getSubjectForTeacherAndDayAndTime(teacher, dayTime), !!getSubjectForTeacherAndDayAndTime(teacher, dayTime) ? deleteMenu : addMenu)">
              <a *ngIf="!!getSubjectForTeacherAndDayAndTime(teacher, dayTime)" routerLink="{{createLinkToMarks(getSubjectForTeacherAndDayAndTime(teacher, dayTime))}}">
                <i class="glyphicon glyphicon-ok green"></i>
                <span>{{subjectForTeacherAndDayAndTime | get:'place'}}<br> {{subjectForTeacherAndDayAndTime | get:'subject.name'}} <br> {{subjectForTeacherAndDayAndTime | get:'clazz.number'}} {{subjectForTeacherAndDayAndTime | get:'clazz.letterMark'}}</span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<context-menu #deleteMenu style="pointer-events:all">
  <template contextMenuItem (execute)="deleteSubject($event)">
    <p>Удалить</p>
  </template>
  <template contextMenuItem (execute)="openModalForEditSubject($event)">
    <p>Редактировать</p>
  </template>
</context-menu>

<context-menu #addMenu style="pointer-events:all">
  <template contextMenuItem (execute)="openModalForAddSubject($event)">
    <p>Добавить</p>
  </template>
</context-menu>

<div class="modal fade" bsModal #subjectModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="subjectForm" aria-hidden="true">
  <div *ngIf="currentSubject" class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Предмет расписания</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeSubjectModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Предмет</label>
            <select class="form-control" [(ngModel)]="currentSubject.subjectId" name="subject">
              <option *ngFor="let subject of subjects" value="{{subject.subjectId}}">{{subject.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Класс</label>
            <select class="form-control" [(ngModel)]="currentSubject.clazzId" name="clazz">
              <option *ngFor="let clazz of classes" value="{{clazz.classId}}">{{clazz.number}} {{clazz.letterMark}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Учитель</label>
            <select class="form-control" [disabled]="!isEdit" [(ngModel)]="currentSubject.teacherId" name="teacher">
              <option *ngFor="let teacher of teachers" value="{{teacher.userId}}">{{teachersService.getTeacherFullName(teacher)}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Место проведения</label>
            <input type="text" class="form-control" [(ngModel)]="currentSubject.place" name="place">
          </div>
          <div class="form-group">
            <label>День</label>
            <select class="form-control" [disabled]="!isEdit" [(ngModel)]="currentSubject.dayOfWeek" name="day">
              <option *ngFor="let day of days" value="{{day.short}}">{{day.rus}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Время начала</label>
            <select class="form-control" [disabled]="!isEdit" [(ngModel)]="currentSubject.time" name="time">
              <option *ngFor="let time of times" value="{{time}}">{{time}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default" (click)="onSubmit()">Готово</button>
        </form>
      </div>
    </div>
  </div>
</div>

