<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form-signin" action="index.html">
        <h2 class="form-signin-heading">Вход</h2>

        <div *ngIf="errorMessage" class="alert alert-danger">
          <div>{{errorMessage}}</div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Имя пользователя"
                 [(ngModel)]="loginData.username" (change)="validate()" name="username" autofocus>
          <div *ngIf="validationError.username.status" class="alert alert-danger">
            <div>{{validationError.username.message}}</div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Пароль"
                 [(ngModel)]="loginData.password" (change)="validate()" name="password">
          <div *ngIf="validationError.password.status" class="alert alert-danger">
            <div>{{validationError.password.message}}</div>
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="onSubmit();" type="submit">Войти</button>
      </form>
    </div>
  </div>

</div>
