<section class="section-marks">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <h1>Геометрия</h1>
      <p style="font-size: 0.9em;">Петрова Галина Стапановна</p>
      <div class="actions">
        <div>
          <a class="btn btn-success">Новая четверть</a>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info">.PDF</button>
            <button type="button" class="btn btn-info">.CSV</button>
            <button type="button" class="btn btn-info">.XLSX</button>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-success">Новое занятие</button>
        </div>
      </div><br>

      <div class="scroll-wrapper">
        <table class="table table-bordered marks">
          <thead>
          <tr>
            <th>Ученик</th>
            <th class="lesson-date">19.04</th>
            <th class="lesson-date">20.04</th>
            <th class="lesson-date">21.04</th>
            <th class="lesson-date">22.04</th>
            <th class="lesson-date">23.04</th>
            <th class="lesson-date">24.04</th>
            <th class="lesson-date">25.04</th>
            <th class="lesson-date">26.04</th>
            <th class="lesson-date">27.04</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a routerLink="/profile" >Боровский Максим Анатольевич</a></td>
            <td class="mark-td"><div class="mark-input" contenteditable>10</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input control-mark" contenteditable>8</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>Н</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
            <td class="mark-td"><div class="mark-input self-work-mark" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
          </tr>
          <tr>
            <td><a routerLink="/profile" >Игнатчик Димас</a></td>
            <td class="mark-td"><div class="mark-input" contenteditable>10</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input control-mark" contenteditable>8</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>Н</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
            <td class="mark-td"><div class="mark-input self-work-mark" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
          </tr>
          <tr>
            <td><a routerLink="/profile" >Кордаш Валерий Геннадьевич</a></td>
            <td class="mark-td"><div class="mark-input" contenteditable>10</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input control-mark" contenteditable>8</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>Н</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
            <td class="mark-td"><div class="mark-input self-work-mark" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
          </tr>
          <tr>
            <td><a routerLink="/profile">Боровский Максим Анатольевич</a></td>
            <td class="mark-td"><div class="mark-input" contenteditable>10</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input control-mark" contenteditable>8</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>Н</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
            <td class="mark-td"><div class="mark-input self-work-mark" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
          </tr>
          <tr>
            <td><a routerLink="/profile">Игнатчик Димас</a></td>
            <td class="mark-td"><div class="mark-input" contenteditable>10</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input control-mark" contenteditable>8</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>Н</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
            <td class="mark-td"><div class="mark-input self-work-mark" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
          </tr>
          <tr>
            <td><a routerLink="/profile">Кордаш Валерий Геннадьевич</a></td>
            <td class="mark-td"><div class="mark-input" contenteditable>10</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input control-mark" contenteditable>8</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>Н</div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
            <td class="mark-td"><div class="mark-input self-work-mark" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable></div></td>
            <td class="mark-td"><div class="mark-input" contenteditable>9</div></td>
          </tr>
          </tbody>
        </table>
      </div>
      <p style="font-size: 0.9em;">* в клетках на пересечении ученика и даты вы можете поставить оченку 2-10 или Н (отсутствие).</p>
    </div>
  </div>
</section>
