
<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-wrapper">
        <h1>ШКОЛЬНЫЙ ЖУРНАЛ</h1>
        <div class="quote">
          <div>Школа это место, где шлифуют булыжники и губят алмазы.</div>
          <cite class="pull-right small-text">А. Барбюс</cite>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Школьный Журнал</a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active-link" routerLink="/profile">Профиль</a></li>
        <li *ngIf="hasNeedLevel('pupil')"><a routerLinkActive="active-link" routerLink="/schedule">Расписание</a></li>
        <li *ngIf="hasNeedLevel('director_of_studies')"><a routerLinkActive="active-link" routerLink="/fullSchedule">Полное расписание</a></li>
        <li *ngIf="hasNeedLevel('director_of_studies')"><a routerLinkActive="active-link" routerLink="/classes">Классы</a></li>
        <li *ngIf="hasNeedLevel('director_of_studies')"><a routerLinkActive="active-link" routerLink="/subjects">Предметы</a></li>
        <li *ngIf="hasNeedLevel('director_of_studies')"><a routerLinkActive="active-link" routerLink="/users">Пользователи</a></li>
        <li *ngIf="hasNeedLevel('pupil')"><a routerLinkActive="active-link" routerLink="/schoolInfo">ВременнАя информация</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.isLogged()"><a (click)="onLogoutClick($event)">{{username}} (Выйти)</a></li>
        <li *ngIf="!authService.isLogged()"><a routerLinkActive="active-link" routerLink="/">Войти</a></li>
      </ul>
    </div>
  </div>
</nav>
