

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1" *ngIf="user">
        <h1>{{user.name || user.username}}</h1>
        <p class="role">{{russianRoleName[user.role.name.toLowerCase()]()}}</p>
        <hr>
        <div *ngIf="teacher || pupil">
          <h3>Описание</h3>
          <p class="description">{{teacher.description || pupil.description}}</p>
          <hr>
        </div>
        <h3>Контакты</h3>
        <p *ngIf="user.email"><strong>Email:</strong> {{user.email}}</p>
        <p *ngIf="teacher && teacher.phoneNumber || pupil && pupil.phoneNumber"><strong>Мобильный телефон:</strong> {{teacher.phoneNumber || pupil.phoneNumber}}</p>
      </div>
      <div class="col-md-10 col-md-offset-1" *ngIf="!user">
        <h1>Нет информации</h1>
      </div>
    </div>
  </div>
</section>
