<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger">
    <div>{{errorMessage}}</div>
  </div>
</div>

<section *ngIf="schedule">
  <div class="container">
    <div class="row">
      <div *ngFor="let day of days" class="col-md-6">
        <h3>{{day.rus}}</h3>
        <table *ngIf="schedule[day.short]" class="table table-hover">
          <tbody>
          <tr *ngFor="let subject of schedule[day.short]">
            <td>
              <a routerLink="/marks/{{subject.subectInScheduleId}}" class="subject-in-schedule">
                <strong>{{subject.subject.name}}</strong>
                <div class="add-info-subject-in-schedule">
                  <p class="small-text">{{decorateTime(subject.beginTime)}}</p>
                  <p class="small-text">{{pupilsService.getPupilFullName(subject.teacher)}}</p>
                </div>
                <p class="small-text">{{subject.place}}</p>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <p *ngIf="!schedule[day.short]">Нет занятий</p>
      </div>
    </div>
  </div>
</section>
