<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" *ngIf="terms">
        <div *ngIf="isAvailable()" class="actions start">
          <button [disabled]="!selectedTerm" class="btn btn-success" (click)="openTermModal()">Редактировать четверть</button>
          <button [disabled]="!selectedLesson" class="btn btn-success" (click)="openLessonModal()">Редактировать урок</button>
        </div>
        <h1>Расписание четвертей</h1>
        <table class="table">
          <tbody>
          <tr *ngFor="let term of terms" (click)="selectTerm(term.termId)" [class.selected]="selectedTerm && term.termId == selectedTerm.termId">
            <td>
              <div style="display: flex">
                <p>{{term.number}}: {{term.start}} - {{term.end}}</p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8 col-md-offset-2" *ngIf="lessons">
        <h1>Расписание звонков</h1>
        <table class="table">
          <tbody>
          <tr *ngFor="let lesson of lessons" (click)="selectLesson(lesson.lessonId)" [class.selected]="selectedLesson && lesson.lessonId == selectedLesson.lessonId">
            <td>
              <div style="display: flex">
                <p>{{lesson.number}}: {{lesson.startTime}} - {{lesson.endTime}}</p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" bsModal #lessonModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="lessonForm" aria-hidden="true">
  <div *ngIf="currentLesson" class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Урок</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(lessonModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="time-form">
          <div *ngIf="errorMessage" class="alert alert-danger">
            <div>{{errorMessage}}</div>
          </div>
          <div class="time-picker-wrapper">
            <div>
              <label>Начало</label>
              <timepicker [(ngModel)]="startTime" [showMeridian]="false" name="startTime" ></timepicker>
            </div>
            <div>
              <label>Конец</label>
              <timepicker [(ngModel)]="endTime" [showMeridian]="false" name="endTime"></timepicker>
            </div>
          </div>
          <button type="submit" class="btn btn-default" (click)="submitForLessonForm()">Готово</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #termModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="termForm" aria-hidden="true">
  <div *ngIf="currentTerm" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Четверть</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(termModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="date-form">
          <div *ngIf="errorMessage" class="alert alert-danger">
            <div>{{errorMessage}}</div>
          </div>
          <div class="date-picker-wrapper">
            <div>
              <label>Начало</label>
              <datepicker [(ngModel)]="startDate" name="start"></datepicker>
            </div>
            <div>
              <label>Конец</label>
              <datepicker [(ngModel)]="endDate" name="end"></datepicker>
            </div>
          </div>

          <button type="submit" class="btn btn-default" (click)="submitForTermForm()">Готово</button>
        </form>
      </div>
    </div>
  </div>
</div>
