<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Предметы</h1>
        <table class="table">
          <tbody>
          <tr *ngFor="let subject of subjects" (click)="selectSubject(subject.subjectId)" [class.selected]="selectedSubject && subject.subjectId == selectedSubject.subjectId">
            <td>
              <div>
                <h6>{{subject.name}}</h6>
                <p class="small-text">{{subject.description}}</p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="actions start">
          <button href="#" class="btn btn-success" [disabled]="!selectedSubject" (click)="openSubjectModalForEdit()">Редактировать</button>
          <button href="#" class="btn btn-danger" [disabled]="!selectedSubject" (click)="deleteSubject()">Удалить</button>
          <button href="#" class="btn btn-success" (click)="openSubjectModalForAdd()">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" bsModal #subjectModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="subjectForm" aria-hidden="true">
  <div *ngIf="currentSubject" class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Предмет</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeSubjectModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>


          <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control" [(ngModel)]="currentSubject.name" name="name">
          </div>

          <div class="form-group">
            <label>Описание</label>
            <textarea class="form-control" rows="3" [(ngModel)]="currentSubject.description" name="description"></textarea>
          </div>

          <button type="submit" class="btn btn-default" (click)="onSubjectFormSubmit()">Готово</button>
        </form>
      </div>
    </div>
  </div>
</div>
