ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

ul li {
    display: flex;
    width: 100%;
    justify-content: center;
}

ul li h3{
    text-align: center;
}